
.idea/misc.xml
*.xml
out/production/SENG1110-Assignment-1/Album.class
out/production/SENG1110-Assignment-1/SENG1110-Assignment-1.iml
out/production/SENG1110-Assignment-1/Song.class
out/production/SENG1110-Assignment-1/SongCollection.class
SENG1110-Assignment-1.iml
